<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HackerNewsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HackerNews"
        tools:targetApi="31">

        <profileable android:shell="true" />

        <!-- This demonstrates manual initialization of Reaper.
         See https://docs.emergetools.com/docs/reaper-setup-android#disable-automatic-initialization -->
        <provider
          android:name="androidx.startup.InitializationProvider"
          android:authorities="${applicationId}.androidx-startup"
          android:exported="false"
          tools:node="merge">
          <meta-data android:name="com.emergetools.reaper.ReaperInitializer"
            tools:node="remove" />
        </provider>

        <!-- The Reaper library sends data to two endpoints:
          - $baseUrl/report
          - $baseUrl/reaper/error
          So if baseUrl is set to https://example.com/foo as
          below Reaper reports will be sent to:
          - https://example.com/foo/report
          and errors will be sent to:
          - https://example.com/foo/reaper/error
          -->
        <meta-data
          android:name="com.emergetools.OVERRIDE_BASE_URL"
          android:value="https://example.com/foo" />

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://d381e3d533c65c895caaa6e084940537@o1.ingest.us.sentry.io/4510398352719872" />

        <!-- add breadcrumbs for user interactions (clicks, swipes, scrolls) -->
        <meta-data
          android:name="io.sentry.traces.user-interaction.enable"
          android:value="true"
          />

        <!-- attach screenshot on crash -->
        <meta-data
          android:name="io.sentry.attach-screenshot"
          android:value="true"
          />

        <!-- attach view hierarchy on crash -->
        <meta-data
          android:name="io.sentry.attach-view-hierarchy"
          android:value="true"
          />

        <!-- enable traces -->
        <meta-data
          android:name="io.sentry.traces.sample-rate"
          android:value="1.0"
          />

        <!-- Enable UI profiling -->
        <meta-data
          android:name="io.sentry.traces.profiling.session-sample-rate"
          android:value="1.0"
        />
        <meta-data
          android:name="io.sentry.traces.profiling.lifecycle"
          android:value="trace"
        />
        <!-- Enable profiling on app start. The app start profile will be stopped automatically when the app start root span finishes -->
        <meta-data
          android:name="io.sentry.traces.profiling.start-on-app-start"
          android:value="true"
          />

        <!-- record session replays -->
        <meta-data
          android:name="io.sentry.session-replay.on-error-sample-rate"
          android:value="1.0"
          />
        <meta-data
          android:name="io.sentry.session-replay.session-sample-rate"
          android:value="0.1"
          />

        <!-- enable logs -->
        <meta-data
          android:name="io.sentry.logs.enabled"
          android:value="true"
          />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HackerNews">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="androidx.activity.ComponentActivity" android:exported="true" />
    </application>

</manifest>
