*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/release/*
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
.kotlin/

# Sentry Config File (typically contains auth tokens)
# Our sentry.properties only has cli.executable path, so we commit it
# sentry.properties
