<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hackernews</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.emerge.hackernews</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts_Fonts.bundle/IBMPlexSans-Regular.ttf</string>
		<string>Fonts_Fonts.bundle/IBMPlexSans-Medium.ttf</string>
		<string>Fonts_Fonts.bundle/IBMPlexSans-Bold.ttf</string>
		<string>Fonts_Fonts.bundle/IBMPlexMono-Bold.ttf</string>
		<string>Fonts_Fonts.bundle/IBMPlexMono-Medium.ttf</string>
		<string>Fonts_Fonts.bundle/IBMPlexMono-Regular.ttf</string>
	</array>
</dict>
</plist>
