name: Sentry PR iOS Upload (Build Distribution)

on:
  pull_request:
    branches: [main]
    paths: [ios/**]

jobs:
  build_adhoc:
    runs-on: macos-15

    defaults:
      run:
        working-directory: ./ios

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Select Xcode version
        run: sudo xcode-select -s '/Applications/Xcode_16.2.app/Contents/Developer'

      - name: Download iOS platform
        run: xcodebuild -downloadPlatform iOS

      - name: Set up Ruby env
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.10
          bundler-cache: true

      - name: Setup gems
        run: exec ../.github/scripts/ios/setup.sh

      - name: Decode signing certificate into a file
        env:
          CERTIFICATE_BASE64: ${{ secrets.IOS_DIST_SIGNING_KEY_BASE64 }}
        run: |
          echo $CERTIFICATE_BASE64 | base64 --decode > signing-cert.p12
      - name: Replace API key in Constants file
        run: |
          sed -i '' "s/API_KEY/$ETDISTRIBUTION_API_KEY/g" HackerNews/Utils/Constants.swift
        env:
          ETDISTRIBUTION_API_KEY: ${{ secrets.ETDISTRIBUTION_API_KEY_IOS }}
      - name: Build & upload iOS AdHoc binary to Sentry
        run: bundle exec fastlane ios build_upload_emerge
        env:
          ASC_KEY_ID: ${{ secrets.ASC_KEY_ID }}
          ASC_ISSUER_ID: ${{ secrets.ASC_ISSUER_ID }}
          ASC_KEY: ${{ secrets.ASC_PRIVATE_KEY }}
          SIGNING_KEY_PASSWORD: ${{ secrets.IOS_DIST_SIGNING_KEY_PASSWORD }}
          SIGNING_KEY_FILE_PATH: signing-cert.p12
          EMERGE_API_TOKEN: ${{ secrets.EMERGE_API_KEY }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_SENTRY_AUTH_TOKEN }}
          CONFIGURATION: AdHoc
          EMERGE_BUILD_TYPE: pull-request-adhoc
          PROV_PROFILE_NAME: HackerNews AdHoc Distribution
          WIDGET_PROV_PROFILE_NAME: HackerNews AdHoc HomeWidget
          ADHOC: true
          APP_ID_SUFFIX: adhoc
